{% extends 'base.html' %}

{% block title%}Lista de tarefas{% endblock %}

{% block content%}
<div class="offset-1 col-10 list-div">
    <h1>Lista de tarefas</h1>
    <a href="newTask/" id="add-link">
        <div class="col-3 add-div">
            <i class="fas fa-plus"></i>Adicionar tarefa
        </div>
    </a>
    <div class="col-8 search-div">
        <input type="text" id="search" class="form-control" name="search" placeholder="Digite o nome da tarefa para buscar">
    </div>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li {% if message.tags %} class="alert alert-{{message.tags}}"{% endif %}>{{message}}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <ul class="task-list">
        {% for task in tasks %}
        <li class="task-item text-primary">
            <span><a href="task/{{task.id}}">{{task.title}}</a></span>
            <span><a href="deleteTask/{{task.id}}" class="delete-btn"><i class="fas fa-trash"></i></a></span>
            <span><a href="editTask/{{task.id}}"><i class="fas fa-edit"></i></a></span>
        </li>
        {% endfor %}
    </ul>
    <div class="pagination">
        <span class="step-links">
            {% if tasks.has_previous %}
                <a href="?page={{ tasks.previous_page_number }}"><i class="fas fa-arrow-left" aria-hidden="true"></i></a>
            {% endif %}
            
            <span class="current">
                {{ tasks.number }} de {{ tasks.paginator.num_pages}}
            </span>

            {% if tasks.has_next %}
                <a href="?page={{ tasks.next_page_number }}"><i class="fas fa-arrow-right" aria-hidden="true"></i></a>
            {% endif %}
        </span>

    </div>
</div>
{% endblock %}